GuessWhoClient/Connected Services/MatchServiceRef/GuessWhoContracts.Dtos.RequestAndResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.RequestAndResponse" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.RequestAndResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.Dto" />
  <xs:complexType name="CreateMatchRequest">
    <xs:sequence>
      <xs:element name="ProfileId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateMatchRequest" nillable="true" type="tns:CreateMatchRequest" />
  <xs:complexType name="CreateMatchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateAtUtc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MatchId" type="xs:long" />
      <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.Dto" minOccurs="0" name="Players" nillable="true" type="q1:ArrayOfLobbyPlayerDto" />
      <xs:element minOccurs="0" name="StatusId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Visibility" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateMatchResponse" nillable="true" type="tns:CreateMatchResponse" />
  <xs:complexType name="JoinMatchRequest">
    <xs:sequence>
      <xs:element name="MatchCode" nillable="true" type="xs:string" />
      <xs:element name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinMatchRequest" nillable="true" type="tns:JoinMatchRequest" />
  <xs:complexType name="JoinMatchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateAtUtc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HostUserId" type="xs:long" />
      <xs:element minOccurs="0" name="MatchId" type="xs:long" />
      <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.Dto" minOccurs="0" name="Players" nillable="true" type="q2:ArrayOfLobbyPlayerDto" />
      <xs:element minOccurs="0" name="StatusId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Visibility" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinMatchResponse" nillable="true" type="tns:JoinMatchResponse" />
  <xs:complexType name="LeaveMatchRequest">
    <xs:sequence>
      <xs:element name="MatchId" type="xs:long" />
      <xs:element name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaveMatchRequest" nillable="true" type="tns:LeaveMatchRequest" />
  <xs:complexType name="BasicResponse">
    <xs:sequence>
      <xs:element name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicResponse" nillable="true" type="tns:BasicResponse" />
  <xs:complexType name="SetPlayerReadyStatusRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsReady" type="xs:boolean" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetPlayerReadyStatusRequest" nillable="true" type="tns:SetPlayerReadyStatusRequest" />
  <xs:complexType name="StartMatchRequest">
    <xs:sequence>
      <xs:element name="MatchId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartMatchRequest" nillable="true" type="tns:StartMatchRequest" />
</xs:schema>