GuessWhoClient/Connected Services/MatchServiceRef/GuessWhoContracts.Dtos.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLobbyPlayerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LobbyPlayerDto" nillable="true" type="tns:LobbyPlayerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLobbyPlayerDto" nillable="true" type="tns:ArrayOfLobbyPlayerDto" />
  <xs:complexType name="LobbyPlayerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHost" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReady" type="xs:boolean" />
      <xs:element minOccurs="0" name="MatchId" type="xs:long" />
      <xs:element minOccurs="0" name="SlotNumber" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyPlayerDto" nillable="true" type="tns:LobbyPlayerDto" />
</xs:schema>