GuessWhoClient/Connected Services/MatchServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.RequestAndResponse" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.Dto" />
  <xs:element name="SusbcribeLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SusbcribeLobbyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsusbcribeLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsusbcribeLobbyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.RequestAndResponse" minOccurs="0" name="request" nillable="true" type="q1:CreateMatchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.RequestAndResponse" minOccurs="0" name="CreateMatchResult" nillable="true" type="q2:CreateMatchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.RequestAndResponse" minOccurs="0" name="request" nillable="true" type="q3:JoinMatchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.RequestAndResponse" minOccurs="0" name="JoinMatchResult" nillable="true" type="q4:JoinMatchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.RequestAndResponse" minOccurs="0" name="request" nillable="true" type="q5:LeaveMatchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.RequestAndResponse" minOccurs="0" name="LeaveMatchResult" nillable="true" type="q6:BasicResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlayerReadyStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.RequestAndResponse" minOccurs="0" name="request" nillable="true" type="q7:SetPlayerReadyStatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlayerReadyStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.RequestAndResponse" minOccurs="0" name="SetPlayerReadyStatusResult" nillable="true" type="q8:BasicResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.RequestAndResponse" minOccurs="0" name="request" nillable="true" type="q9:StartMatchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.RequestAndResponse" minOccurs="0" name="StartMatchResult" nillable="true" type="q10:BasicResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPlayerJoined">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.Dto" minOccurs="0" name="player" nillable="true" type="q11:LobbyPlayerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPlayerLeft">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.Dto" minOccurs="0" name="player" nillable="true" type="q12:LobbyPlayerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnReadyChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.Dto" minOccurs="0" name="player" nillable="true" type="q13:LobbyPlayerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>