GuessWhoClient/Connected Services/UserServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GuessWho.Contracts.Dtos" />
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GuessWho.Contracts.Dtos" minOccurs="0" name="request" nillable="true" type="q1:RegisterRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GuessWho.Contracts.Dtos" minOccurs="0" name="RegisterUserResult" nillable="true" type="q2:RegisterResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>