GuessWhoClient/Connected Services/UpdateServiceRef/GuessWhoContracts.Dtos.RequestAndResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.RequestAndResponse" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.RequestAndResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetProfileRequest">
    <xs:sequence>
      <xs:element name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProfileRequest" nillable="true" type="tns:GetProfileRequest" />
  <xs:complexType name="GetProfileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateAtUtc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProfileResponse" nillable="true" type="tns:GetProfileResponse" />
  <xs:complexType name="UpdateProfileRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPasswordPlain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IfUnmodifiedSinceUtc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NewAvatarId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewPasswordPlain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateProfileRequest" nillable="true" type="tns:UpdateProfileRequest" />
  <xs:complexType name="UpdateProfileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Updated" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdatedAtUtc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateProfileResponse" nillable="true" type="tns:UpdateProfileResponse" />
  <xs:complexType name="DeleteProfileRequest">
    <xs:sequence>
      <xs:element name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteProfileRequest" nillable="true" type="tns:DeleteProfileRequest" />
  <xs:complexType name="BasicResponse">
    <xs:sequence>
      <xs:element name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicResponse" nillable="true" type="tns:BasicResponse" />
</xs:schema>