GuessWhoClient/Connected Services/UpdateServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UpdateProfileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUpdateProfileService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Faults" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Dtos.RequestAndResponse" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUpdateProfileService_GetProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfile" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfileService_GetProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfileService_GetProfile_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Faults" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfileService_UpdateUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserProfile" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfileService_UpdateUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfileService_UpdateUserProfile_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Faults" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfileService_DeleteUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserProfile" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfileService_DeleteUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfileService_DeleteUserProfile_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GuessWhoContracts.Faults" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IUpdateProfileService">
    <wsdl:operation name="GetProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateProfileService/GetProfile" message="tns:IUpdateProfileService_GetProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateProfileService/GetProfileResponse" message="tns:IUpdateProfileService_GetProfile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUpdateProfileService/GetProfileServiceFaultFault" name="ServiceFaultFault" message="tns:IUpdateProfileService_GetProfile_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateProfileService/UpdateUserProfile" message="tns:IUpdateProfileService_UpdateUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateProfileService/UpdateUserProfileResponse" message="tns:IUpdateProfileService_UpdateUserProfile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUpdateProfileService/UpdateUserProfileServiceFaultFault" name="ServiceFaultFault" message="tns:IUpdateProfileService_UpdateUserProfile_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateProfileService/DeleteUserProfile" message="tns:IUpdateProfileService_DeleteUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateProfileService/DeleteUserProfileResponse" message="tns:IUpdateProfileService_DeleteUserProfile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUpdateProfileService/DeleteUserProfileServiceFaultFault" name="ServiceFaultFault" message="tns:IUpdateProfileService_DeleteUserProfile_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUpdateProfileService" type="tns:IUpdateProfileService">
    <wsp:PolicyReference URI="#NetTcpBinding_IUpdateProfileService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetProfile">
      <soap12:operation soapAction="http://tempuri.org/IUpdateProfileService/GetProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserProfile">
      <soap12:operation soapAction="http://tempuri.org/IUpdateProfileService/UpdateUserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserProfile">
      <soap12:operation soapAction="http://tempuri.org/IUpdateProfileService/DeleteUserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateProfileService">
    <wsdl:port name="NetTcpBinding_IUpdateProfileService" binding="tns:NetTcpBinding_IUpdateProfileService">
      <soap12:address location="net.tcp://localhost:8101/UpdateProfileService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8101/UpdateProfileService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-9IURR4LD\wilma</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>